<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      {{title}}
    </a>
  </div>
</div>
</nav>
<div class="container">
<div class="row">
  <div class="col-md-12">
    <blockquote class="blockquote-reverse">
      <p>Some gift are big. Others are small. But the ones that come from the heart are the best gifts of all.</p>
      <footer><cite title="Source Title">Tinku Razoria</cite></footer>
    </blockquote>
  </div>
</div>
</div>
